.container_radio {
  display: inline-flex;
  width: 100%;
  border-radius: 8px;
  padding: 3px;

  border: 1px solid rgba(243, 226, 175, 0.3);

  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(248, 190, 96, 0.08) 0%,
      rgba(213, 178, 101, 0.08) 100%
    ),
    linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 65.8%), #040404;

  margin-bottom: 24px;
}

.input_radio {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  padding: 15.5px 20px;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: 50%;

  text-transform: uppercase;
  color: #a0a0a0;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s linear;

  color: var(--Key-White, #fff);
  text-align: center;

  font-family: "Familjen Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.input_radio:checked + .label {
  padding: 15.5px 20px;
  width: 50%;

  border-radius: 6px;
  background: rgba(243, 226, 175, 0.08);

  color: #f3e2af;
  text-align: center;

  font-family: "Familjen Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .container_radio {
    width: 30%;
  }

  .wrapper_contact_options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
