.wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.nativeCheckbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.customCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 4px;

  background: #0a0a0a;
  border: 1px solid rgba(243, 226, 175, 0.3);

  transition: all 0.2s ease-in-out;
}

.customCheckbox.checked {
  background: #0a0a0a;
  border: 1px solid #8e5c24;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  backdrop-filter: blur(6px);
}

.label {
  margin-left: 10px;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
