.wrapper {
  padding-bottom: 16px;
}

.wrapper_logo {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-bottom: 8px;
}

.logo {
  width: 79.471px;
  height: 84px;
}

.header {
  text-align: center;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.8));
  /* Headline/Medium (H2) */
  font-family: "Familjen Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.48px;
  text-transform: uppercase;

  background: linear-gradient(
    0deg,
    #a1835d -5.56%,
    #f3e2af 44.41%,
    #a1835d 94.44%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 16px;
}

.container_radio {
  display: inline-flex;
  width: 100%;
  border-radius: 8px;
  padding: 3px;

  border: 1px solid rgba(243, 226, 175, 0.3);

  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(248, 190, 96, 0.08) 0%,
      rgba(213, 178, 101, 0.08) 100%
    ),
    linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 65.8%), #040404;

  margin-bottom: 24px;
}

.wrapper_input_form {
  position: relative;
  margin-bottom: 24px;

  border-radius: 6px;
  border: 1px solid rgba(243, 226, 175, 0.15);
}

.callYou_wrapper {
  display: flex;
  flex-direction: column;

  color: rgba(255, 255, 255, 0.5);

  text-align: center;
  text-overflow: ellipsis;
  /* Body/Large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */
  letter-spacing: -0.8px;

  padding-bottom: 24px;
}
.callYou_first {
}
.callYou_wrapper_second {
}
.callYou_second {
}
.callYou_third {
  color: #fff;
  text-overflow: ellipsis;
  /* Body/Large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.8px;
}

@media screen and (min-width: 1280px) {
  .container_radio {
    width: 30%;
  }

  .wrapper_contact_options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
