.container_radio {
  display: inline-flex;

  border-radius: 8px;
  padding: 3px;
  border: 1px solid rgba(243, 226, 175, 0.3);
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(248, 190, 96, 0.08) 0%,
      rgba(213, 178, 101, 0.08) 100%
    ),
    linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 65.8%), #040404;
  margin-right: 16px;
}

.input_radio {
  display: none;
}

.label {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Familjen Grotesk";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:not(:last-child) {
    margin-right: 2px;
  }
}

%active-label-style {
  background: rgba(243, 226, 175, 0.08);
  color: #f3e2af;
}

:root[data-lang="en"] .label[for*="-en"] {
  @extend %active-label-style;
}

:root[data-lang="uk"] {
  .label[for*="-uk"] {
    @extend %active-label-style;
  }
}
